@page "/details"
@inject NavigationManager NavigationManager

@code {
    private bool isModalOpen = false;
    private bool showSuccessMessage = false;

    private IBrowserFile uploadedFile;
    private string imagePreviewUrl;

    private void OpenModal() => isModalOpen = true;

    private void CloseModal()
    {
        isModalOpen = false;
        uploadedFile = null;
        imagePreviewUrl = null;
    }
     private async Task OnInputFileChange(InputFileChangeEventArgs e)
    {
        uploadedFile = e.File;
        var buffer = new byte[uploadedFile.Size];
        await uploadedFile.OpenReadStream().ReadAsync(buffer);
        imagePreviewUrl = $"data:{uploadedFile.ContentType};base64,{Convert.ToBase64String(buffer)}";
    }

    private void RemoveImage()
    {
        uploadedFile = null;
        imagePreviewUrl = null;
    }

    private async Task HandleAddBankAsync()
    {
        if (uploadedFile != null)
        {
            showSuccessMessage = true;
            isModalOpen = false;

            // Wait for 2 seconds then hide success
            await Task.Delay(2000);
            showSuccessMessage = false;

            // Reset form
            uploadedFile = null;
            imagePreviewUrl = null;

            StateHasChanged();
        }
    }
   private string activeTab = "Applications";

   void SetTab(string tab)
   {
      activeTab = tab;
   }

   private class LoanOfficer
   {
      public string Name { get; set; }
      public string Designation { get; set; } = "Mortgage Loan Officer";
      public string Phone { get; set; }
      public string Fax { get; set; }
      public string Email { get; set; }
      public string Address { get; set; }
      public string AvatarUrl { get; set; }
   }

   private List<LoanOfficer> loanOfficers = new()
{
new() { Name = "Ralph Edwards", Phone = "(805) 123-5243", Fax = "(505) 555-0125", Email = "thuhang.nute@gmail.com",
Address = "30721 Russel Ranch...", AvatarUrl = "icons/Avatar.jpg" },
new() { Name = "Jerome Bell", Phone = "(229) 555-0109", Fax = "(207) 555-0119", Email = "trungkienspktnd@gmail.com",
Address = "3891 Ranchview Dr...", AvatarUrl = "icons/Avatar.jpg" },
};

   private int currentPage = 1;
   private int itemsPerPage = 10;
   private int TotalPages => (int)Math.Ceiling((double)loanOfficers.Count / itemsPerPage);

   private IEnumerable<LoanOfficer> PaginatedLoanOfficers => loanOfficers
   .Skip((currentPage - 1) * itemsPerPage)
   .Take(itemsPerPage);

   private void GoToPage(int page)
   {
      currentPage = page;
   }

   private void OnItemsPerPageChanged(ChangeEventArgs e)
   {
      if (int.TryParse(e.Value?.ToString(), out int newItemsPerPage))
      {
         itemsPerPage = newItemsPerPage;
         currentPage = 1; // reset to first page
      }
   }

}



<div class="breadcrumb">
   <a href="/">Bank Of America</a> <img src="icons/CaretRight.svg" alt="" />
   <span>Details</span>
</div>

<div class="header">
   <div class="heading-container">
      <h2>Details</h2>
      <div class="actions">
         @if (activeTab == "Loan Officers")
         {
            <div class="search-input-container">
               <img src="icons/SearchIcon.svg" alt="search" width="24" height="24" />
               <input type="text" placeholder="Search keywords" class="tab-input" />
            </div>
         }
         else
         {
            <button class="outline-btn">Change Splash Screen & Theme</button>
         }
         <button class="primary-btn"><img src="icons/PlusIcon.svg" alt="PlusIcon" width="16" height="16" @onclick="OpenModal" /></button>
      </div>
   </div>
   <div class="tabs-container">
      <button class="tab-button @(activeTab == "Applications" ? "active-tab" : "")"
         @onclick='() => SetTab("Applications")'>Applications</button>
      <button class="tab-button @(activeTab == "Loan Officers" ? "active-tab" : "")"
         @onclick='() => SetTab("Loan Officers")'>Loan Officers</button>
   </div>
   @if (activeTab == "Loan Officers")
   {
      <table class="loan-officer-table">
         <thead>
            <tr>
               <th>Names</th>
               <th>Designation</th>
               <th>Phone Number</th>
               <th>Fax</th>
               <th>Email</th>
               <th>Address</th>
            </tr>
         </thead>
         <tbody>
            @foreach (var officer in PaginatedLoanOfficers)
            {
               <tr>
                  <td>
                     <img src="@officer.AvatarUrl" alt="avatar" width="24" height="24" class="avatar" />
                     @officer.Name
                  </td>
                  <td>@officer.Designation</td>
                  <td>@officer.Phone</td>
                  <td>@officer.Fax</td>
                  <td>@officer.Email</td>
                  <td>@officer.Address</td>
               </tr>
            }
         </tbody>
      </table>

      <div class="pagination-controls">
         <div class="items-per-page">
            <select id="itemsPerPage" @onchange="OnItemsPerPageChanged" class="dropdown">
               <option class="dropdown-option" value="10" selected="@((itemsPerPage == 10).ToString())">10 Items Per Page</option>
               <option class="dropdown-option" value="20" selected="@((itemsPerPage == 20).ToString())">20 Items Per Page</option>
            </select>
         </div>

         <div class="pagination-buttons">
            <button @onclick="() => GoToPage(currentPage - 1)" disabled="@((currentPage == 1))"
               class="previous-button"><img src="@(currentPage == 1 ? "icons/BlueArrow.svg" : "icons/WhiteDropdown.svg")" class="previous-icon @(currentPage == 1 ? "rotate-180" : "")" /></button>
            @for (int i = 1; i <= TotalPages; i++)
            {
               <button class="@(i == currentPage ? "active" : "") page-number" @onclick="() => GoToPage(i)">@i</button>
            }
            <button @onclick="() => GoToPage(currentPage + 1)" disabled="@((currentPage == TotalPages))"
               class="next-button"><img src="@(currentPage == TotalPages ? "icons/BlueArrow.svg" : "icons/WhiteDropdown.svg")" class="@(currentPage == TotalPages ? "rotate-180" : "")" /></button>
         </div>
      </div>
   }
   @if (activeTab == "Applications")
   {
      <div class="card-container">
         <a href="/details/splash" class="app-card">
            <div class="card-header">
               <span class="drag-icon"><img src="icons/ArrowsOutCardinal.svg" alt=""></span>
               <span><img src="icons/BlueTick.svg" alt=""></span>
            </div>

            <div class="card-body">
               <img src="icons/Document.svg" alt="icon" class="card-icon" />
               <h4 class="card-title">Full Application</h4>
            </div>

            <div class="card-actions">
               <button class="edit-btn"><img src="icons/PencilSimple.svg" alt=""> Edit</button>
               <button class="delete-btn"><img src="icons/TrashSimple.svg" alt=""> Delete</button>
            </div>
         </a>
         <div class="app-card">
            <div class="card-header">
               <span class="drag-icon"><img src="icons/ArrowsOutCardinal.svg" alt=""></span>
               <span><img src="icons/BlueTick.svg" alt=""></span>
            </div>

            <div class="card-body">
               <img src="icons/Files.svg" alt="icon" class="card-icon" />
               <h4 class="card-title">Full Application</h4>
            </div>

            <div class="card-actions">
               <button class="edit-btn"><img src="icons/PencilSimple.svg" alt=""> Edit</button>
               <button class="delete-btn"><img src="icons/TrashSimple.svg" alt=""> Delete</button>
            </div>
         </div>
         <div class="app-card">
            <div class="card-header">
               <span class="drag-icon"><img src="icons/ArrowsOutCardinal.svg" alt=""></span>
               <span><img src="icons/BlueTick.svg" alt=""></span>
            </div>

            <div class="card-body">
               <img src="icons/Car.svg" alt="icon" class="card-icon" />
               <h4 class="card-title">Car Loan</h4>
            </div>

            <div class="card-actions">
               <button class="edit-btn"><img src="icons/PencilSimple.svg" alt=""> Edit</button>
               <button class="delete-btn"><img src="icons/TrashSimple.svg" alt=""> Delete</button>
            </div>
         </div>
         <div class="app-card">
            <div class="card-header">
               <span class="drag-icon"><img src="icons/ArrowsOutCardinal.svg" alt=""></span>
               <span><img src="icons/BlueTick.svg" alt=""></span>
            </div>

            <div class="card-body">
               <img src="icons/Note.svg" alt="icon" class="card-icon" />
               <h4 class="card-title">Other Application</h4>
            </div>

            <div class="card-actions">
               <button class="edit-btn"><img src="icons/PencilSimple.svg" alt=""> Edit</button>
               <button class="delete-btn"><img src="icons/TrashSimple.svg" alt=""> Delete</button>
            </div>
         </div>

      </div>
   }

  @if (isModalOpen)
    {
        <div class="modal-overlay">
            <div class="modal-content">
                <h2 class="modal-title">Add new Application</h2>
                <p class="mb-0">Please provide the information below to create an application</p>

                @if (imagePreviewUrl != null)
                {
                    <div class="image-preview-wrapper upload-box">
                        <img src="@imagePreviewUrl" class="image-preview" />
                        <button class="delete-image" @onclick="RemoveImage"><img src="icons/TrashSimple.svg" /></button>
                    </div>
                }
                else
                {
                    <label class="upload-box">
                        <img src="icons/CirclePlusIcon.svg" />
                        <span>Drag & drop or upload application logo</span>
                        <InputFile OnChange="OnInputFileChange" accept="image/*" class="file-input" />
                    </label>
                }

                <label>Enter Application Name</label>
                <input type="text" placeholder="Full Application" class="bank-input" />

                <div class="modal-actions">
                    <button class="primary-btn" @onclick="HandleAddBankAsync">Add</button>
                    <button class="outline-btn" @onclick="CloseModal">Cancel</button>
                </div>
            </div>
        </div>
    }
    @if (showSuccessMessage)
    {
        <div class="success-modal">
            <div class="success-content">
                @* <img src="icons/success-tick.svg" alt="Success" width="60" /> *@
                <h3>Successfull</h3>
                <p>Bank has been onboarded successfully</p>
            </div>
        </div>
    }

</div>



<style>
   .breadcrumb {
      font-size: 0.875rem;
      color: #1f2937;
      margin-bottom: 1rem;
   }

   .breadcrumb a {
      color: #6b7280;
      text-decoration: none;
      margin-right: 0.25rem;
      font-weight: 500;
   }

   .header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: #f5f7ff;
      padding: 1rem 1.5rem;
      border-radius: 0.5rem;
      flex-direction: column;
   }

   .header .heading-container {
      display: flex;
      justify-content: space-between;
      width: 100%;
   }

   .header>div h2 {
      font-size: 1.25rem;
      font-weight: 700;
      color: #141340;
      font-size: 24px;
   }

   .tabs-container {
      width: 100%;
      display: flex;
      border-bottom: 1px solid #EAECF0;
      margin-top: 1rem;
   }

   .tab-button {
      background: none;
      border: none;
      padding: 0rem 0rem 1rem;
      margin-right: 1.5rem;
      font-weight: 400;
      font-size: 18px;
      color: #585C7B;
      border-bottom: 2px solid transparent;
      cursor: pointer;
   }

   .tab-button:hover {
      color: #141340;
   }

   .tab-button.active-tab {
      color: #141340;
      font-weight: 700;
      font-size: 18px;
      border-bottom: 2px solid #0038FF;
   }

   .search-input-container {
      padding: 0.5rem 1rem;
      border: 1.5px solid #E5E5E5;
      border-radius: 0.375rem;
      font-size: 0.875rem;
      color: #1f2937;
      background-color: white;
   }

   .search-input-container .tab-input {
      border: 0px;
      outline: none;
   }

   .actions {
      display: flex;
      gap: 0.5rem;
   }

   .outline-btn {
      padding: 0.5rem 1rem;
      border: 1px solid #cbd5e1;
      border-radius: 0.375rem;
      background-color: white;
      color: #1f2937;
      font-weight: 500;
      cursor: pointer;
   }

   .outline-btn:hover {
      background-color: #f9fafb;
   }

   .primary-btn {
      padding: 0.5rem 1rem;
      background-color: #0047FF;
      color: white;
      border: none;
      border-radius: 0.375rem;
      font-weight: 500;
      cursor: pointer;
   }

   .primary-btn:hover {
      background-color: #003bd1;
   }

   .card-container {
      display: flex;
      flex-wrap: nowrap;
      margin-top: 1rem;
      width: 100%;
      gap: 1rem;
   }

   .app-card {
      width: 24%;
      background: white;
      border-radius: 0.75rem;
      box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
      padding: 1rem;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      position: relative;
      transition: box-shadow 0.2s;
      text-decoration: none;
   }

   .app-card:hover {
      box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
   }

   .card-header {
      position: absolute;
      top: 0.75rem;
      left: 0.75rem;
      right: 0.75rem;
      display: flex;
      justify-content: space-between;
      font-size: 1rem;
      color: #2563eb;
   }

   .drag-icon {
      cursor: grab;
   }



   .card-body {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 2.5rem;
      margin-bottom: 1rem;
   }

   .card-icon {
      width: 40px;
      height: 40px;
      color: #2563eb;
   }

   .card-title {
      margin-top: 0.5rem;
      font-weight: 400;
      color: #141340;
      text-align: center;
      font-size: 20px;
   }

   .card-actions {
      display: flex;
      justify-content: space-between;
      gap: 0.5rem;
      width: 100%;
   }

   .edit-btn,
   .delete-btn {
      padding: 0.5rem 0.5rem;
      border-radius: 0.375rem;
      font-size: 0.875rem;
      font-weight: 500;
      border: 1px solid transparent;
      cursor: pointer;
      display: flex;
      gap: 0.5rem;
      width: 49%;
      justify-content: center;
   }

   .edit-btn {
      background-color: white;
      border: 1px solid #cbd5e1;
      color: #1f2937;
   }

   .edit-btn:hover {
      background-color: #f9fafb;
   }

   .delete-btn {
      background-color: #EA4335;
      color: white;
   }

   .delete-btn:hover {
      background-color: #dc2626;
   }

   .loan-officer-table {
      width: 100%;
      border-collapse: collapse;
      margin-top: 1rem;
      font-size: 0.875rem;
   }

   .loan-officer-table th,
   .loan-officer-table td {
      border-bottom: 1px solid #E5E5E5;
      padding: 0.75rem;
      text-align: left;
   }

   .loan-officer-table th {
      background-color: #f5f7ff;
      font-weight: 600;
      color: #141340;
   }

   .pagination {
      margin-top: 1rem;
      display: flex;
      justify-content: center;
      gap: 0.5rem;
   }

   .pagination button {
      border: none;
      padding: 0.5rem 0.75rem;
      background-color: #f0f0f0;
      color: #333;
      cursor: pointer;
      border-radius: 0.375rem;
   }

   .pagination button.active {
      background-color: #0047FF;
      color: white;
   }

   .avatar {
      border-radius: 9999px;
      width: 24px;
      height: 24px;
      object-fit: cover;
   }

   .pagination-controls {
      width: 100%;
      display: flex;
      justify-content: end;
      align-items: center;
      margin-top: 1rem;
      flex-wrap: wrap;
   }

   .items-per-page {
      display: flex;
      align-items: center;
      gap: 0.5rem;
      font-size: 0.875rem;
   }

   .dropdown {
      padding: 0.4rem 0.6rem;
      border-radius: 0.5rem;
      border: 1px solid #EAECF0;
      background-color: #fff;
      font-size: 0.875rem;
      color: #585C7B;
      outline: none;
      height: 42px;
   }

   .pagination-buttons button {
      margin: 0 0.25rem;
   }

   .previous-button {
      background-color: #0038FF;
      border-radius: 8px;
      outline: none;
      border: none;
      width: 42px;
      height: 42px;
   }
   .page-number {
      height: 42px;
      width: 42px;
      border: 1px solid #EAECF0;
      background-color: transparent;
      border-radius: 8px;
      color: #141340;
   }

   .page-number.active {
      border: 1px solid #0038FF;
      color: #0038FF;
      font-weight: 500;
      border-radius: 8px;
   }

   .previous-button,
   .next-button {
      background-color: #0047FF;
      color: white;
      border: none;
      border-radius: 0.375rem;
      padding: 0.5rem;
      cursor: pointer;
      width: 42px;
   }

   .previous-button:disabled,
   .next-button:disabled {
      background-color: #d1d5db;
      cursor: not-allowed;
      opacity: 0.6;
   }
   .rotate-180 {
      transform: rotate(180deg);
   }

   .previous-icon {
      rotate: 180deg;
   }
       @* modal style *@

    .modal-overlay {
        position: fixed;
        inset: 0;
        background-color: rgba(0, 0, 0, 0.4);
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 1000;
    }

    .modal-content {
        background-color: white;
        padding: 2rem;
        border-radius: 1rem;
        width: 498px;
        box-shadow: 0 10px 40px rgba(0, 0, 0, 0.2);
        display: flex;
        flex-direction: column;
        gap: 1rem;
        text-align: left;
    }

    .modal-title {
        font-weight: 700;
        color: #141340;
        font-size: 20px;
    }


    .bank-input {
        width: 100%;
        padding: 0.75rem;
        border: 1px solid #e5e7eb;
        border-radius: 0.5rem;
        font-size: 1rem;
        outline: none;
    }

    .modal-actions {
        display: flex;
        justify-content: flex-end;
        gap: 0.75rem;
    }

    .upload-box {
        background-color: #EAECF0;
        border-radius: 0.75rem;
        padding: 2rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 0.5rem;
        color: #6b7280;
        cursor: pointer;
        position: relative;
    }

    .file-input {
        position: absolute;
        inset: 0;
        opacity: 0;
        cursor: pointer;
    }

    .image-preview-wrapper {
        position: relative;
        width: 100%;
        text-align: center;
        z-index: 10;
    }

    .image-preview {
        max-width: 100%;
        height: 200px;
        border-radius: 0.75rem;
        object-fit: contain;
    }

    .delete-image {
        position: absolute;
        top: 10px;
        right: 10px;
        background: #dc2626;
        border: none;
        border-radius: 6px;
        width: 32px;
        height: 32px;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .success-modal {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(0, 0, 0, 0.5);
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 9999;
    }

    .success-content {
        background: white;
        padding: 2rem;
        border-radius: 1rem;
        text-align: center;
        max-width: 400px;
        box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    }

    .success-content h3 {
        font-size: 1.5rem;
        color: #141340;
        margin-top: 1rem;
        font-weight: bold;
    }

    .success-content p {
        margin-top: 0.5rem;
        color: #6b7280;
    }

</style>